stages:
  - test
  - docs

variables:
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv"

cache:
  key:
    files:
      - python/uv.lock
      - python/pyproject.toml
  paths:
    - .cache/uv
    - python/.venv/

pytest:
  image: python:3.11
  stage: test
  before_script:
    - python --version
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - /root/.local/bin/uv --version
  script:
    - cd python
    - /root/.local/bin/uv run pytest -v --junitxml=pytest.xml --cov=marple --cov-report=term-missing --cov-report=xml:coverage.xml
  artifacts:
    when: always
    reports:
      junit: python/pytest.xml
      coverage_report:
        coverage_format: cobertura
        path: python/coverage.xml
    paths:
      - python/pytest.xml
      - python/coverage.xml
  coverage: '/TOTAL\s+\d+\s+\d+\s+(\d+%)/'
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - python/**/*

rust:mdb-cli:
  image: rust:1.85
  stage: test
  cache:
    key:
      files:
        - mdb-cli/Cargo.lock
        - mdb-cli/Cargo.toml
    paths:
      - mdb-cli/target/
      - .cargo/registry/
      - .cargo/git/
  before_script:
    - rustc --version
    - cargo --version
    - apt-get update && apt-get install -y --no-install-recommends pkg-config libssl-dev ca-certificates
  script:
    - cd mdb-cli
    - cargo test --locked
  rules:
    - if: $CI_COMMIT_BRANCH
      changes:
        - mdb-cli/**/*

docs:
  image: python:3.11
  stage: docs
  before_script:
    - python --version
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - /root/.local/bin/uv --version
  script:
    - cd python
    - /root/.local/bin/uv run sphinx-build -b html docs docs/_build/html
  artifacts:
    paths:
      - python/docs/_build/html
    expire_in: 30 days
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(main|master)$/'
      when: manual

pages:
  stage: docs
  image: alpine:latest
  script:
    - mkdir -p public
    - cp -r python/docs/_build/html/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(main|master)$/'
  dependencies:
    - docs

