:root {
  --pst-color-primary: #5586f7;
  --pst-color-link: #5586f7;
  --pst-color-link-hover: #2467ff;
  --pst-font-family-base: "Mona Sans", "Segoe UI", Helvetica, Arial, sans-serif;
  --pst-font-family-heading: "Mona Sans", "Segoe UI", Helvetica, Arial, sans-serif;
}
